body {
  background: #fff;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif; }

img {
  vertical-align: bottom; }

/************************************ HEADER *************************************/
#header {
  background: url("img/hero.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0 auto;
  display: flex; }
  #header #hamburger {
    display: none; }
  #header .wrapper {
    width: 1180px;
    margin: 15px auto 0px; }

#slogan {
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  font-family: "Times New Roman", Times, serif; }
  #slogan .big {
    font-weight: 600;
    font-size: 36px;
    margin: 0; }
  #slogan .small {
    color: #fff;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500; }

#nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto; }
  #nav .navlogo p {
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    margin: 0; }
  #nav .social {
    display: flex; }
    #nav .social .socicon {
      font-size: 20px;
      padding: 15px; }
      #nav .social .socicon a {
        color: #fff;
        background: #000;
        padding: 15px;
        border-radius: 10px; }
        #nav .social .socicon a:hover {
          background: #fff;
          color: #000;
          transition: all ease 0.5s; }
  #nav .nav {
    display: flex; }
    #nav .nav .navlogo p {
      font-weight: bold;
      font-size: 15px; }
    #nav .nav ul {
      list-style-type: none;
      display: flex; }
      #nav .nav ul a {
        color: #000;
        text-decoration: none;
        padding: 15px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 10px; }
        #nav .nav ul a:hover {
          color: #fff;
          background: #00b0ff;
          transition: all ease 0.5s; }

#boards {
  box-shadow: 0px 0px 10px 10px rgba(128, 128, 128, 0.281);
  display: flex;
  width: 1000px;
  margin: 116px auto 0px;
  display: flex;
  background: #fff; }
  #boards .description {
    flex-basis: 45%; }
  #boards .stars {
    color: #f2d800; }
  #boards a {
    color: #00b0ff;
    font-weight: bold;
    border-bottom: 2px solid #00b0ff;
    text-decoration: none; }
    #boards a:hover {
      color: #dbb63c;
      transition: all ease 0.5s;
      border-bottom: 2px solid #dbb63c; }
  #boards .price {
    display: flex;
    margin-top: 50px;
    margin-bottom: 75px; }
    #boards .price .button {
      color: #fff;
      background-color: #00b0ff;
      text-align: center;
      align-self: center;
      padding: 15px 25px;
      font-weight: bold;
      margin-left: 25px; }
      #boards .price .button:hover {
        background-color: #dbb63c;
        transition: all ease 0.5s;
        cursor: pointer; }
    #boards .price p {
      color: #000;
      font-size: 20px;
      font-weight: bold; }
  #boards p {
    color: #646464;
    margin-right: 20px; }
  #boards .headlines {
    display: flex;
    padding: 0;
    margin-top: 30px;
    margin-right: 10px;
    text-align: center;
    border-bottom: 1px solid #646464; }
    #boards .headlines h3 {
      font-size: 17px;
      margin-right: 15px;
      margin-bottom: 0px;
      padding: 10px;
      color: #646464;
      border-bottom: 3px solid #00aeff00; }
      #boards .headlines h3:hover {
        cursor: pointer;
        transition: all ease 0.8s;
        border-bottom: 3px solid #00b0ff;
        color: #000; }
  #boards .boardpct {
    background: conic-gradient(from 45deg, #fff 50%, #00b0ff 50%);
    padding: 70px;
    flex-basis: 40%; }
  #boards .thumbs {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding: 150px 2px 0px;
    flex-basis: 15%; }
    #boards .thumbs .thumb {
      margin-top: 3px;
      margin-right: 20px;
      opacity: 60%; }
      #boards .thumbs .thumb:hover {
        opacity: 100%;
        transition: all ease 0.5s;
        cursor: pointer; }

/************************************ MAIN *************************************/
#main {
  margin-top: 200px;
  margin-bottom: 200px;
  background: url("img/surfer.jpg");
  background-repeat: no-repeat;
  background-position: center; }
  #main .wrapper {
    display: flex; }
  #main .video {
    margin-top: 400px;
    margin-left: 80px; }
    #main .video img {
      box-shadow: 25px 25px 15px 15px rgba(128, 128, 128, 0.281);
      transition: all ease 0.7s; }
      #main .video img:hover {
        cursor: pointer;
        filter: brightness(120%);
        transition: all ease 0.7s; }
  #main .lorem {
    width: 400px;
    margin-top: 280px;
    padding-top: 100px;
    padding-left: 20%;
    text-align: center;
    background: #fff; }
    #main .lorem p {
      text-align: left;
      line-height: 2em;
      font-family: "Times New Roman", Times, serif;
      font-style: italic;
      font-weight: 600;
      margin-top: 40px;
      font-size: 18px;
      margin-right: 40px; }
    #main .lorem a {
      color: #00b0ff;
      font-weight: bold;
      border-bottom: 2px solid #00b0ff;
      text-decoration: none;
      margin-top: 50px;
      margin-right: 315px;
      display: block; }
      #main .lorem a:hover {
        color: #dbb63c;
        transition: all ease 0.5s;
        border-bottom: 2px solid #dbb63c; }

.about {
  margin: 0 auto;
  width: 1000px;
  text-align: center; }
  .about h2 {
    font-size: 180px;
    font-weight: bold;
    color: #f7f7f7; }

/************************************ OUR TEAM *************************************/
#our_team {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 150px;
  text-align: center; }
  #our_team #people {
    display: flex; }
  #our_team .person {
    width: 220px;
    box-shadow: 0px 0px 10px 10px rgba(128, 128, 128, 0.281);
    padding: 30px 10px;
    margin-left: 10px;
    transition: all ease 0.7s; }
    #our_team .person:hover {
      background: #00b0ff;
      cursor: pointer;
      transition: all ease 0.7s;
      width: 300px; }
      #our_team .person:hover .name {
        color: #fff; }
      #our_team .person:hover p {
        color: #b3e7ff; }
    #our_team .person img {
      border: 2px solid #fff;
      border-radius: 50px; }
    #our_team .person .name {
      color: #00b0ff;
      font-weight: bold; }
    #our_team .person p {
      color: #646464; }
  #our_team .arrow {
    animation-duration: 5s;
    text-align: center;
    align-self: center;
    padding: 15px;
    margin: 15px;
    border-radius: 50px;
    box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.281);
    color: #0022ff;
    border: 2px solid #64646400; }
    #our_team .arrow:hover {
      color: #646464;
      border: 2px solid #646464;
      cursor: pointer;
      transition: all ease 0.7s; }
  #our_team h2 {
    font-size: 180px;
    font-weight: bold;
    color: #f7f7f7;
    padding: 0px;
    margin: 0px; }

#card2 {
  animation-duration: 3s; }

#card3 {
  animation-duration: 3s; }

#card1 {
  animation-duration: 2s; }

#card4 {
  animation-duration: 2s; }

/************************************ BLOG *************************************/
#blog {
  width: 1000px;
  margin: 0 auto;
  text-align: center; }
  #blog .button {
    color: #fff;
    background-color: #00b0ff;
    text-align: center;
    align-self: center;
    padding: 15px 25px;
    font-weight: bold;
    margin-left: 25px;
    text-transform: uppercase;
    display: inline-block;
    transition: all ease 0.7s; }
    #blog .button:hover {
      background-color: #dbb63c;
      transition: all ease 0.7s;
      cursor: pointer; }
  #blog .section {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    padding-top: 25px;
    margin-bottom: 50px; }
    #blog .section img {
      padding: 25px; }
    #blog .section .article {
      flex-basis: 300px;
      width: fit-content;
      transition: all ease 0.7s; }
      #blog .section .article:hover {
        transition: all ease 0.7s;
        cursor: pointer;
        box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.281); }
        #blog .section .article:hover img {
          filter: brightness(120%);
          transition: all ease 0.7s; }
        #blog .section .article:hover p {
          color: #0022ff;
          transition: all ease 0.7s; }
      #blog .section .article p {
        margin: 30px 60px;
        color: #646464;
        text-align: left; }

/************************************ FOOTER *************************************/
.socialmedia {
  margin: 200px auto 0px;
  width: 1180px;
  display: flex;
  justify-content: space-between; }
  .socialmedia img {
    transition: all ease 0.7s; }
    .socialmedia img:hover {
      cursor: pointer;
      filter: brightness(120%);
      box-shadow: 0 0 15px 5px rgba(128, 128, 128, 0.281);
      transition: all ease 0.7s; }
  .socialmedia .facebook {
    align-self: center;
    margin-top: 150px; }
    .socialmedia .facebook .list {
      display: flex;
      margin-top: 100px; }
      .socialmedia .facebook .list a {
        color: #f7f7f7;
        text-decoration: none;
        transition: all ease 0.8s; }
        .socialmedia .facebook .list a:hover {
          color: #646464;
          transition: all ease 0.8s; }
          .socialmedia .facebook .list a:hover .fa-water {
            color: #0022ff;
            transition: all ease 0.8s; }
      .socialmedia .facebook .list .fa-water {
        color: #dbb63c;
        margin-right: 5px; }
      .socialmedia .facebook .list .footernav1 {
        margin-left: 50px; }
  .socialmedia .instagram {
    text-align: center; }
    .socialmedia .instagram #follow {
      display: flex;
      padding: 15px;
      background: #fff; }
      .socialmedia .instagram #follow p {
        margin-left: 20px; }
      .socialmedia .instagram #follow a {
        color: #00b0ff;
        font-weight: bold;
        text-decoration: none;
        align-self: center;
        font-size: 1.5em;
        margin-left: 20px;
        transition: all ease 0.5s; }
        .socialmedia .instagram #follow a:hover {
          color: #dbb63c;
          transition: all ease 0.5s; }
    .socialmedia .instagram h2 {
      font-size: 100px;
      font-weight: bold;
      color: #f7f7f7;
      padding: 0px;
      margin: 0px; }

#footer {
  background: linear-gradient(#fff 60%, #000 40%); }
  #footer .bottomfooter {
    margin: 0px auto;
    width: 1180px;
    display: flex;
    justify-content: space-between; }
    #footer .bottomfooter P {
      color: #646464; }
    #footer .bottomfooter .newsletter {
      padding: 50px; }
      #footer .bottomfooter .newsletter .white {
        color: #f7f7f7; }
    #footer .bottomfooter .mail {
      display: flex;
      justify-content: space-around;
      border-bottom: 2px solid #646464;
      padding-bottom: 3px; }
      #footer .bottomfooter .mail .fa-envelope {
        color: #646464;
        font-size: 20px;
        margin-right: 15px;
        align-self: center; }
      #footer .bottomfooter .mail input {
        background: none;
        color: #646464;
        border: none; }
        #footer .bottomfooter .mail input:focus {
          border: 1px solid #000; }
      #footer .bottomfooter .mail .arrow {
        color: #fff;
        border-radius: 100px;
        padding: 10px;
        background: #00b0ff;
        margin-left: 15px;
        align-self: center;
        transition: all ease 0.8s;
        font-size: 12px; }
        #footer .bottomfooter .mail .arrow:hover {
          background: #f2d800;
          transition: all ease 0.8s;
          cursor: pointer; }

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  /************************************ HEADER *************************************/
  #header #hamburger {
    display: none; }
  #header .wrapper {
    width: 100%; }

  #main {
    margin-top: 250px; }
    #main .about h2 {
      font-size: 120px; }
    #main .wrapper {
      width: 100%; }
      #main .wrapper .lorem {
        padding-left: 10%; }
      #main .wrapper .video {
        margin: 400px auto; }
      #main .wrapper img {
        vertical-align: bottom;
        max-width: 100%; }

  /************************************ OUR TEAM*************************************/
  #our_team h2 {
    font-size: 100px;
    margin-bottom: 50px; }

  /************************************ FOOTER *************************************/
  .socialmedia {
    width: 70%; }
    .socialmedia img {
      vertical-align: bottom;
      max-width: 100%;
      height: auto; }
    .socialmedia .instagram {
      margin-right: 20px; }
      .socialmedia .instagram h2 {
        font-size: 60px; }

  #footer .bottomfooter {
    width: 70%;
    margin: 0 auto; } }
@media screen and (min-width: 769px) and (max-width: 1023px) {
  /************************************ HEADER *************************************/
  #header #hamburger {
    display: none; }
  #header .wrapper {
    height: auto; }
    #header .wrapper #slogan {
      margin: 0 auto;
      text-align: center;
      margin-top: 50px;
      font-family: "Times New Roman", Times, serif; }
      #header .wrapper #slogan .big {
        font-weight: 600;
        font-size: 20px;
        margin: 0; }
      #header .wrapper #slogan .small {
        color: #fff;
        margin-top: 15px;
        font-size: 15px;
        font-weight: 500; }
    #header .wrapper .description {
      font-size: 1em;
      background-color: #fff;
      z-index: 1; }
    #header .wrapper .headlines {
      background-color: rgba(255, 255, 255, 0.596); }
      #header .wrapper .headlines h3 {
        font-size: 14px; }
    #header .wrapper .thumbs {
      display: none; }
      #header .wrapper .thumbs img {
        max-width: 100%;
        height: auto;
        vertical-align: bottom;
        z-index: 0; }
    #header .wrapper #boards {
      flex-direction: row;
      width: 80%; }
      #header .wrapper #boards p {
        font-size: 13px;
        background-color: rgba(255, 255, 255, 0.596);
        padding: 15px;
        color: #000; }
      #header .wrapper #boards .boardpct {
        align-self: center;
        padding: 0;
        background: none; }
      #header .wrapper #boards img {
        max-width: 100%;
        vertical-align: bottom;
        height: auto;
        padding: 0px 150px 0px 75px; }
    #header .wrapper #nav {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around; }
    #header .wrapper .navlogo {
      order: 1; }
    #header .wrapper .social {
      order: 2; }
    #header .wrapper .nav {
      order: 3;
      margin: 10px auto 0; }

  /************************************ MAIN *************************************/
  #main {
    margin-top: 250px; }
    #main .about {
      margin: 0 auto; }
      #main .about h2 {
        font-size: 70px;
        margin: 0 auto; }
    #main .wrapper {
      width: 100%; }
      #main .wrapper .lorem {
        width: 300px; }
        #main .wrapper .lorem h2 {
          font-size: 15px; }
        #main .wrapper .lorem p {
          font-size: 13px; }
        #main .wrapper .lorem a {
          font-size: 13px; }
      #main .wrapper .video {
        margin: 400px 20px;
        width: 50%; }
      #main .wrapper img {
        vertical-align: bottom;
        max-width: 100%; }

  /************************************ OUR TEAM *************************************/
  #our_team {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px; }
    #our_team #people {
      display: block; }
      #our_team #people .person {
        margin: auto;
        margin-top: 30px;
        width: 300px;
        align-self: center; }
      #our_team #people .arrow {
        display: none; }
    #our_team h2 {
      font-size: 70px;
      margin-bottom: 50px; }

  /************************************ BLOG *************************************/
  #blog {
    margin: 0 auto; }
    #blog .button {
      margin-top: 20px; }
    #blog h2 {
      margin: 0 auto; }
    #blog .section {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width: 500px; }
      #blog .section .article {
        align-self: center; }
        #blog .section .article p {
          margin: auto;
          padding: 15px; }

  /************************************ FOOTER *************************************/
  #footer {
    background: linear-gradient(#fff 40%, #000 60%); }
    #footer .socialmedia {
      width: 70%; }
      #footer .socialmedia img {
        vertical-align: bottom;
        max-width: 100%;
        height: auto; }
      #footer .socialmedia .instagram {
        margin-right: 20px; }
        #footer .socialmedia .instagram h2 {
          font-size: 60px; }
    #footer .socialmedia .facebook .list .footernav1 a {
      font-size: 12px; }
      #footer .socialmedia .facebook .list .footernav1 a .fa-water {
        display: none; }
    #footer .socialmedia .facebook .list .footernav a {
      font-size: 12px; }
      #footer .socialmedia .facebook .list .footernav a .fa-water {
        display: none; }
    #footer .socialmedia .instagram h2 {
      font-size: 60px; }
    #footer .socialmedia .instagram #follow {
      padding: 0; }
      #footer .socialmedia .instagram #follow a {
        font-size: 14px; }
    #footer .bottomfooter {
      width: 70%;
      margin: 0 auto; }
      #footer .bottomfooter p {
        font-size: 14px; } }
@media screen and (max-width: 768px) {
  /************************************ HEADER *************************************/
  #header #hamburger {
    display: block;
    float: right;
    font-size: 35px;
    color: #000;
    order: 2; }
    #header #hamburger:hover {
      cursor: pointer; }
    #header #hamburger #mobile-menu {
      display: none;
      position: absolute;
      background-color: #f1f1f1f3;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      right: 0;
      width: 75vw;
      z-index: 1;
      text-align: center; }
      #header #hamburger #mobile-menu a {
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        padding: 12px 16px;
        text-decoration: none;
        display: block; }
        #header #hamburger #mobile-menu a:hover {
          background-color: #a1a1a1;
          color: #fff;
          transition: all ease 0.7s; }
  #header .social {
    display: none; }
  #header .wrapper {
    width: 90%; }
    #header .wrapper #slogan {
      margin: 0 auto;
      text-align: center;
      margin-top: 10px;
      font-family: "Times New Roman", Times, serif; }
      #header .wrapper #slogan .big {
        font-weight: 600;
        font-size: 20px;
        margin: 0; }
      #header .wrapper #slogan .small {
        color: #fff;
        margin-top: 15px;
        font-size: 15px;
        font-weight: 500; }
    #header .wrapper .headlines {
      background-color: rgba(255, 255, 255, 0.596);
      flex-direction: column; }
      #header .wrapper .headlines h3 {
        font-size: 12px;
        margin: 0px;
        padding: 5px; }
        #header .wrapper .headlines h3:hover {
          border-color: rgba(255, 255, 255, 0); }
    #header .wrapper .thumbs {
      display: none; }
    #header .wrapper #boards {
      margin-top: 20px;
      flex-direction: column;
      width: 90%; }
      #header .wrapper #boards a {
        font-size: 12px;
        margin: 10px; }
      #header .wrapper #boards .price {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px; }
        #header .wrapper #boards .price p {
          font-size: 12px; }
        #header .wrapper #boards .price .button {
          font-size: 12px;
          padding: 10px; }
      #header .wrapper #boards p {
        font-size: 13px;
        background-color: rgba(255, 255, 255, 0.596);
        padding: 15px;
        color: #000; }
      #header .wrapper #boards .boardpct {
        align-self: center;
        padding: 0;
        background: none;
        width: 20%; }
        #header .wrapper #boards .boardpct img {
          max-width: 100%;
          height: auto;
          vertical-align: bottom; }
    #header .wrapper #nav {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around; }
    #header .wrapper .navlogo {
      order: 1;
      align-self: center; }
    #header .wrapper .social {
      order: 2;
      align-self: center; }
      #header .wrapper .social .socicon {
        font-size: 15px;
        padding: 5px; }
        #header .wrapper .social .socicon a {
          padding: 5px; }
    #header .wrapper .nav {
      display: none; }

  /************************************ MAIN *************************************/
  #main {
    background: #fff;
    height: fit-content;
    margin: 200px auto 0px;
    width: 90%; }
    #main .about {
      width: 50%;
      margin: 100px auto 0px;
      text-align: center;
      display: block; }
      #main .about h2 {
        margin-top: 100px;
        font-size: 50px; }
    #main .wrapper {
      width: 100%;
      flex-direction: column; }
      #main .wrapper .lorem {
        margin: 0 auto;
        width: 60%;
        padding-top: 15px; }
        #main .wrapper .lorem h2 {
          font-size: 15px; }
        #main .wrapper .lorem p {
          font-size: 13px; }
        #main .wrapper .lorem a {
          font-size: 13px; }
      #main .wrapper .video {
        margin: 40px auto;
        width: 70%; }
      #main .wrapper img {
        vertical-align: bottom;
        max-width: 100%; }

  /************************************ OUR TEAM *************************************/
  #our_team {
    width: 60%;
    margin-top: 100px; }
    #our_team #people {
      display: flex;
      flex-wrap: wrap; }
      #our_team #people .person {
        width: 300px;
        margin: auto;
        margin-top: 30px; }
      #our_team #people .arrow {
        display: none; }
    #our_team h2 {
      font-size: 50px;
      margin-bottom: 50px; }

  #blog {
    width: 70px;
    margin: 0 auto; }
    #blog .button {
      margin: 20px auto;
      font-size: 12px;
      padding: 5px;
      width: 100%; }
    #blog h2 {
      margin: 0 auto; }
    #blog .section {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width: 500px; }
      #blog .section .article {
        align-self: center; }
        #blog .section .article p {
          margin: auto;
          padding: 15px;
          font-size: 14px; }

  /************************************ FOOTER *************************************/
  #footer {
    background: linear-gradient(#fff 40%, #000 60%); }
    #footer .socialmedia {
      width: 70%;
      flex-direction: column; }
      #footer .socialmedia img {
        vertical-align: bottom;
        max-width: 100%;
        height: auto; }
      #footer .socialmedia .instagram {
        margin-right: 20px; }
        #footer .socialmedia .instagram h2 {
          font-size: 20px; }
    #footer .socialmedia .facebook .list .footernav1 a {
      font-size: 12px; }
      #footer .socialmedia .facebook .list .footernav1 a .fa-water {
        display: none; }
    #footer .socialmedia .facebook .list .footernav a {
      font-size: 12px; }
      #footer .socialmedia .facebook .list .footernav a .fa-water {
        display: none; }
    #footer .socialmedia .instagram h2 {
      font-size: 30px; }
    #footer .socialmedia .instagram #follow {
      padding: 0; }
      #footer .socialmedia .instagram #follow a {
        font-size: 10px; }
      #footer .socialmedia .instagram #follow p {
        font-size: 12px; }
    #footer .bottomfooter {
      width: 70%;
      flex-direction: column;
      margin: 0 auto; }
      #footer .bottomfooter .newsletter {
        width: 70%; }
        #footer .bottomfooter .newsletter .mail {
          display: flex;
          width: 70%;
          border-bottom: 2px solid #64646400; }
      #footer .bottomfooter p {
        font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
